@font-face {
	font-family: "MetropolisRegular";
	src: url("./font/Metropolis-Regular.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: "MetropolisMedium";
	src: url("./font/Metropolis-Medium.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: "MetropolisSemiBold";
	src: url("./font/Metropolis-SemiBold.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: "MetropolisExtraBold";
	src: url("./font/Metropolis-ExtraBold.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: "MetropolisBlack";
	src: url("./font/Metropolis-Black.woff") format("woff");
	font-weight: normal;
}

.App {
	overflow: hidden;
	background-color: #f7f7f7;
}

.section__container {
	min-height: calc(100vh - 102px - 57px - 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 22;
	margin-top: 150px;

	h1 {
		font-family: MetropolisRegular;
		color: black;
		font-size: 48px;
	}
}

@media (max-width: 767px) {
	.section__container {
		min-height: calc(100vh - 102px - 57px - 150px);
		margin-top: 150px;
		
		h1 {
			font-size: 36px;
		}
	}
}

.btn {
	min-width: 175px;
	width: fit-content;
	min-height: 55px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: MetropolisMedium;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 0.45px;
	text-transform: uppercase;
	border-radius: 0 !important;
	box-shadow: unset !important;
	transition: all 0.3s;

	color: #fff;

	color: #fff !important;
	background-color: green !important;
	border: 2px solid green !important;

	&:hover {
		color: green !important;
		background-color: #fff !important;
	}

	&.loading {
		transition: padding-right 0.3s ease-out;
		position: relative;

		&:disabled {
			opacity: 0.7;
		}

		&::after {
			content: "";
			position: absolute;
			border-radius: 100%;
			right: 6px;
			top: 50%;
			width: 0px;
			height: 0px;
			margin-top: -2px;
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-left-color: #fff;
			border-top-color: #fff;
			animation: spin 0.6s infinite linear, grow 0.3s forwards ease-out;
		}

		&:hover {
			&::after {
				border: 2px solid rgba(255, 255, 255, 0.5);
				border-left-color: green;
				border-top-color: green;
				animation: spin 0.6s infinite linear, grow 0.3s forwards ease-out;
			}
		}

		@keyframes spin {
			to {
				transform: rotate(359deg);
			}
		}

		@keyframes grow {
			to {
				width: 14px;
				height: 14px;
				margin-top: -8px;
				right: 13px;
			}
		}
	}
}
